{% extends 'base.html' %}
{% block 'title' %}Task List | ToDo{% endblock %}
{% block content %}
    <br><br>
    <h1>List Of Tasks</h1>
    <br><br><br>
    {% for task in task_list %}
    <div class="task">
        <br>
        <h4 class="task-list"><strong>Task Title:- {{task.title}}</strong></h4>
        <div class='date'>
            <h5>Date-Time:- {{task.created_date}}</h5>
        </div>
        <hr>
        <p class="task-list"><strong>Description:- {{task.description}}</strong><p>
        <hr>
        <div class="task-list">
        <a class='btn btn-success' href="{% url 'update_task' task.id %}">Update</a>
        <a class='btn btn-danger' href="{% url 'delete_task' task.id %}">Delete</a>   
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock content %}